@page "/mekaniker-ordre"
@using BlazorAppClientServer.Client.Services
@using BlazorAppClientServer.Shared.Models
@using Radzen  <!-- Importer Radzen -->
@using Radzen.Blazor
@using BlazorAppClientServer.Client.Shared

@inject IMekanikerService MekanikerService
@inject IOrdreService OrdreService

<Header />

<h3>Ordrer for Mekaniker</h3>

<label for="MekanikerDropdown">Vælg Mekaniker:</label>
<select id="MekanikerDropdown" class="form-select mb-2" @onchange="GetMekanikerOrdre">
    <option value="">Vælg en mekaniker</option>
    @foreach (var mekaniker in Mekaniker)
    {
        <option value="@mekaniker.MekanikerId">@mekaniker.Navn</option>
    }
</select>

@if (Ordre != null && Ordre.Any())

{
    <h4>Ordrer for @SelectedMechanicName idag og frem:</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Ordre ID</th>
                <th>Dato</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ordre in Ordre.
            Where(o => o.OrdreDate.Date >= DateTime.Today).
            OrderBy(o => o.OrdreDate))

            {
                <tr>
                    <td>@ordre.OrdreId</td>
                    <td>@ordre.OrdreDate.ToString("dd-MM-yyyy HH:mm")</td>
                    <td>@(ordre.Status ? "Fuldført" : "Ikke fuldført")</td>
                </tr>
            }
        </tbody>
    </table>    
}

else

{
    <p>Ingen ordrer fundet for denne mekaniker.</p>
}

@if (Ordre.Any(o => !o.Status && o.OrdreDate.Date < DateTime.Today))
{
    <h4>Ikke færdiggjorte ordrer før dagsdato:</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Ordre ID</th>
                <th>Dato</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ordre in Ordre
            .Where(o => !o.Status && o.OrdreDate.Date < DateTime.Today)
            .OrderBy(o => o.OrdreDate))
            {
                <tr>
                    <td>@ordre.OrdreId</td>
                    <td>@ordre.OrdreDate.ToString("dd-MM-yyyy HH:mm")</td>
                    <td>@(ordre.Status ? "Fuldført" : "Ikke fuldført")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    
}

@code {
    private List<Mekaniker> Mekaniker = new List<Mekaniker>();

    private List<Ordre> AlleOrdre = new List<Ordre>();

    private List<Ordre> Ordre = new List<Ordre>();

    private string SelectedMechanicName = string.Empty;

    protected override async Task OnInitializedAsync()

    {

        Mekaniker = (await MekanikerService.GetAllMekaniker()).ToList(); 
        AlleOrdre = (await OrdreService.GetAllOrdre()).ToList();

    }

    private async Task GetMekanikerOrdre(ChangeEventArgs e)
    {
        var mechanicId = e.Value?.ToString();

        if (!string.IsNullOrEmpty(mechanicId))
        {
            var selectedMechanic = Mekaniker.FirstOrDefault(m => m.MekanikerId == int.Parse(mechanicId));
            if (selectedMechanic != null)
            {
                SelectedMechanicName = selectedMechanic.Navn;

                Ordre = AlleOrdre.Where(o => o.MekanikerId == selectedMechanic.MekanikerId).ToList(); 

            }

        }

        else

        {

            Ordre = new List<Ordre>(); 

        }

    }
}

